body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #11023d;
}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: #11023d;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4eb5;
    ;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #11023d;
    /* creates padding around scroll thumb */
}

::selection {
    background-color: #ff4eb5;
    ;
    /* cor de fundo da seleção */
    color: #ffffff;
    /* cor do texto selecionado */
}

/* Parallax container */
.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Camadas parallax */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    will-change: transform;
}

/* Camada especial para estrelas (não afetada pelo scroll) */
.stars-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/Estrelas.png');
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: 2;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

/* Camadas específicas */
#sky {
    background-image: url('src/Ceu.png');
    z-index: 1;
}

#sun {
    z-index: 3;
    background-image: url('src/Sun1920x1080.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.7s ease-in-out;
    pointer-events: auto;
}


#mountains {
    background-image: url('src/Montanhas1920x1080.png');
    z-index: 4;
}

#ground {
    background-image: url('src/Chao1920x1080.png');
    z-index: 5;
}

.scroll-content {
    position: relative;
    z-index: 10;
    background-color: rgb(17, 2, 61);
    color: white;
    padding: 2rem;
    min-height: 100vh;
}

span {
    font-weight: 600;
    color: #4efaff;
}

.tag {
    color: #ff4eb5;
}